.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 60px;
}

.servicesCon {
  flex: 1 1 30%; /* Flex-grow: 1, flex-shrink: 1, flex-basis: 30% */
  box-sizing: border-box;
  text-align: center;
  background-color: #e9e9e9;
}

.img-container {
  width: 100%;
  height: 400px; /* Set the height as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container without stretching */
}
.subtext {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 6px;
}
.textheader {
  color: #333;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 6px;
}
.servicetag {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 12px;
}
.inTouch-btndiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.inTouch-btn {
  padding: 11px;
  border-radius: 20px;
  text-decoration: none;
  background: #dcdbd9;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.ourservices {
  color: #000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  letter-spacing: 6.8px;
}
.text {
  font-weight: 300;
  font-size: 16px;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: 2.4px;
}
@media (max-width: 768px) {
  .servicesCon {
    flex: 1 1 100%; /* Flex-basis: 100% for stacking */
  }
}
